 <nav class="navbar">
        <div><b>Gallery</b></div>
        <div id="btnContainer">
            <div>
                <a href="/"><button>HOME</button></a>
            </div>
            <div>
                <a href="about"><button>ABOUT</button></a>
            </div>
            <div>
                <a href="works"><button>WORKS</button></a>
            </div>
             <a href="gallery"><button>GALLERY</button></a>
            </div>
