<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />

    <title>About</title>
</head>

<body>
    <nav class="navbar">
        <div><b>About</b></div>
        <div id="btnContainer">
            <div>
                <a href="/"><button>HOME</button></a>
            </div>
            <div>
                <a href="about"><button>ABOUT</button></a>
            </div>
            <div>
                <a href="works"><button>WORKS</button></a>
            </div>

            <div>
                <a href="gallery"><button>GALLERY</button></a>
            </div>
        </div>
    </nav>
    <section id="life">
        <h3>Early Life</h3>
        <p>
            Schiele was born in 1890 in Tulln, Lower Austria. As a child, Schiele was fascinated by trains, and would spend many hours drawing them, to the point where his father felt obliged to destroy his sketchbooks. Schiele was regarded as a strange child. Shy
            and reserved, he did poorly at school except in athletics and drawing.
        </p>
        <h3>Education</h3>
        <p>
            In 1906 Schiele applied at the Kunstgewerbeschule (School of Arts and Crafts) in Vienna, where Gustav Klimt had once studied. Within his first year there, Schiele was sent, at the insistence of several faculty members, to the more traditional Akademie
            der Bildenden Künste in Vienna in 1906.
        </p>
        <h3>Klimt</h3>
        <p>
            n 1907, Schiele sought out Gustav Klimt, who generously mentored younger artists. Klimt took a particular interest in the young Schiele, buying his drawings, offering to exchange them for some of his own, arranging models for him and introducing him to
            potential patrons. He also introduced Schiele to the Wiener Werkstätte, the arts and crafts workshop connected with the Secession. Schiele's earliest works between 1907 and 1909 contain strong similarities with those of Klimt, as well as influences
            from Art Nouveau.In 1908 Schiele had his first exhibition, in Klosterneuburg. Schiele left the Academy in 1909, after completing his third year, and founded the Neukunstgruppe ("New Art Group") with other dissatisfied students.
        </p>

        <h3>Development of Style</h3>
        <p>
            In 1910, Schiele began experimenting with nudes and within a year a definitive style featuring emaciated, sickly-coloured figures, often with strong sexual overtones. Schiele's unconventional piece and style went against strict academia and created a
            sexual uproar with its contorted lines and heavy display of figurative expression.
        </p>
        <h3>Arrest</h3>
        <p>
            Schiele was later arrested for alledgedly seducing an underage girl, when the poliece came to his studio to place Schiele under arrest, they seized more than a hundred drawings which they considered pornographic. When his case was brought before a judge,
            the charges of seduction and abduction were dropped, but the artist was found guilty of exhibiting erotic drawings in a place accessible to children. In court, the judge burned one of the offending drawings over a candle flame. He was sentenced
            to a further three days' imprisonmen, where Schiele created a series of 12 paintings depicting the difficulties and discomfort of being locked in a jail cell.
        </p>

        <h3>Marriage and war</h3>
        <p>
            Three days after his wedding to Edith, Schiele was ordered to report for active service in the army where he was initially stationed in Prague. During the war, Schiele's paintings became larger and more detailed. His military service, however, gave him
            limited time, and much of his output consisted of linear drawings of scenery and military officers. Around this time, Schiele also began experimenting with the themes of motherhood and family. Despite his military service, Schiele was still
            exhibiting. His first duties consisted of guarding and escorting Russian prisoners. Because of his weak heart and his excellent handwriting, Schiele was eventually given a job as a clerk. There, he was allowed to draw and paint imprisoned
            Russian officers. By 1917, he was back in Vienna and able to focus on his artistic career. His output was prolific, and his work reflected the maturity of an artist in full command of his talents.
        </p>
        <h3>Death</h3>
        <p>
            In the autumn of 1918, the Spanish flu pandemic that claimed more than 20,000,000 lives in Europe reached Vienna. Edith, who was six months pregnant, succumbed to the disease on 28 October. Schiele died only three days after his wife. He was 28 years
            old.
        </p>
    </section>
</body>

</html>