<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=GZ, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />

    <title>Gallery</title>
</head>

<body>
    <nav class="navbar">
        <div><b>Gallery</b></div>
        <div id="btnContainer">
            <div>
                <a href="/"><button>HOME</button></a>
            </div>
            <div>
                <a href="about"><button>ABOUT</button></a>
            </div>
            <div>
                <a href="works"><button>WORKS</button></a>
            </div>

            <div>
                <a href="gallery"><button>GALLERY</button></a>
            </div>
        </div>
    </nav>
    <section id="gallery">
        <div>
            <img src="/images/expression.jpg" alt="expression" width="300" />
        </div>
        <div>
            <img src="/images/self_portrait.jpg" alt="selfPortrait" width="300" />
        </div>
        <div>
            <img src="/images/woman_sketch.jpg" alt="woman" width="300" />
        </div>
        <div>
            <img src="/images/Small_Tree_In_Late_Autumn.jpg" alt="tree in autumn" width="300" />
        </div>
        <div>
            <img src="/images/The_Lyricist.jpg" alt="the lyricist" width="300" />
        </div>
        <div>
            <img src="/images/face.jpg" alt="face" width="300" />
        </div>
        <div>
            <img src="/images/seated-woman.jpg" alt="seated woman" width="300" />
        </div>
        <div>
            <img src="/images/autumn_trees.jpg" alt="autumn tree" width="300" />
        </div>
        <div>
            <img src="/images/four_trees.jpg" alt="four trees" width="300" />
        </div>
        <div>
            <img src="/images/self_portrait2.jpg" alt="self portrait 2" width="300" />
        </div>
        <div>
            <img src="/images/livingRoom.jpg" alt="living room" width="300" />
        </div>
    </section>
</body>

</html>