
   
    <section id="titleImg">
        <h1 id="welcome">EGON SCHIELE</h1>
        <section id="more">
            <div>
                <a href="about"><button>ABOUT</button></a>
            </div>
            <div>
                <a href="works"><button>WORKS</button></a>
            </div>

            <div>
                <a href="gallery"><button>GALLERY</button></a>
            </div>
        </section>
    </section>
