    {{>nav}}

    <section id="works">
        <div>
            <img src="/images/seated-woman.jpg" alt="seated woman" width="300" />
            <article>
                <p>Seated Woman with Bent Knee Egon Schiele</p>
                <p>Date: 1917; Vienna, Austria</p>

                <p>Style: Expressionism</p>
                <p>Genre: portrait</p>
                <p>
                    Media: crayon, gouache, watercolor, paper Location: National Gallery in Prague, Prague, Czech Republic
                </p>
            </article>
        </div>
        <div>
            <img src="" alt="" />
            <article></article>
        </div>

        <div>
            <img src="" alt="" />
            <article></article>
        </div>
        <div>
            <img src="" alt="" />
            <article></article>
        </div>
    </section>
